/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  @import "bootstrap/scss/bootstrap-grid";
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

.row + .row {
  margin: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: white;
  border: 2px solid black;
  font-family: Helvetica;
}

.logo {
  font-family: Helvetica;
  font-weight: 600;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
}

.shop {
  font-family: Helvetica;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
}

.burger-menu {
  max-width: 70%;
  margin: auto;
}

.news {
  font-family: Helvetica;
  font-weight: 600;
  font-size: 140px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 152px;
  color: #000000;
}

@media (max-width: 992px) {
  .news {
    font-size: 45px;
    line-height: 152px;
  }
}

@media (max-width: 992px) {
  .verre {
    display: none;
  }
}

.presentation {
  font-family: Helvetica;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0;
}

@media (min-width: 992px) {
  .presentation {
    font-size: 24px;
  }
}

.locations {
  font-family: Helvetica;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0;
}
@media (min-width: 992px) {
  .locations {
    font-size: 24px;
  }
}

.news-products {
  font-family: Helvetica;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0;
}

@media (min-width: 992px) {
  .news-products {
    font-size: 24px;
  }
}

.gris {
  background-color: #d8d8d8;
}

.craft-brewery {
  font-family: Helvetica;
  font-weight: 600;
  font-size: 20px;
  color: black;
  letter-spacing: 0;
  line-height: 29px;
}

@media (min-width: 992px) {
  .craft-brewery {
    font-size: 71px;
    line-height: 78px;
  }
}

.craft-bewery-text {
  font-family: Helvetica-Light;
  font-size: 15px;
  color: black;
  letter-spacing: 0;
  padding-top: 20px;
  line-height: 20px;
}

@media (min-width: 992px) {
  .craft-bewery-text {
    font-size: 25px;
    line-height: 35px;
  }
}

.beer {
  font-weight: 600;
  font-size: 24px;
}

.taste {
  font-weight: 500;
  font-size: 24px;
}

.informations-product {
  font-weight: 300;
  font-size: 14px;
}

.vol {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}

.find-us {
  font-family: Helvetica;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 43px;
  margin: 10px;
}

@media (min-width: 992px) {
  .find-us {
    font-size: 108px;
    line-height: 97px;
  }
}

.newsletter-text {
  font-family: Helvetica;
  font-size: 16px;
  letter-spacing: 0;
}

@media (min-width: 992px) {
  .newsletter-text {
    font-size: 21px;
    letter-spacing: 0;
  }
}

.newsletter-mail {
  font-family: Helvetica;
  font-size: 20px;
  letter-spacing: 0;
  color: #5a8088;
}

@media (min-width: 992px) {
  .newsletter-mail {
    font-size: 23px;
  }
}

.help {
  text-transform: uppercase;
}

.blue {
  background-color: #b0f1ff !important;
}
