/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  @import "bootstrap/scss/bootstrap-grid";
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

.row + .row {
  margin: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: white;
  border: 2px solid black;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  font-family: Helvetica;
  font-weight: 600;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
}

.news {
  font-family: Helvetica;
  font-weight: 600;
  font-size: 45px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 52px;
  color: #000000;
}
